.weather-table-container {
  display: flex;
  justify-content: space-between;
}
.weather-row {
  display: table-row;
}
.weather-cell {
  display: table-cell;
  padding: 4px;
  border: 2px solid #b377f49d;
  background-color: #bf8ff3a8;
}
.header {
  background-color: #b377f4;
  font-weight: bold;
}
.weather-cell:nth-child(1),
.weather-cell:nth-child(2) {
  width: 15%;
}
.weather-cell:nth-child(3),
.weather-cell:nth-child(4) {
  width: 35%;
}
@media (min-width: 375px) {
  .weather-table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    font-size: 4vw;
  }
}
@media (min-width: 450px) {
  .weather-table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    font-size: 3vw;
  }
}
@media (min-width: 650px) {
  .weather-table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    font-size: 25px;
  }
}

@media (min-width: 1024px) {
  .weather-table {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: table;
    width: 70%;
    border-collapse: collapse;
    font-size: 25px;
  }
}
